$nhRed: #F9423A;
$nhCrimson: #A6093D;
$nhWhite: #FFFFFF;
$nhGray: #C7C9C7;
$nhPurple: #5F2167;
$nhGreen: #007B5F;
$nhCobalt: #0057B8;
$nhCharcoal: #333F48;

#app, body{
    background-color: $nhCharcoal!important;
}